# --------------------------------------------------------------------
# Flux Development Environment (template)
# Copy this file to `.env` and fill in your secrets.
# Do NOT commit `.env`.
# --------------------------------------------------------------------

# --- Mongo root user credentials (for container only) ---
MONGO_INITDB_ROOT_USERNAME=flux
MONGO_INITDB_ROOT_PASSWORD=changeme
MONGO_INITDB_DATABASE=flux

# --- Mongo Express admin credentials ---
ME_CONFIG_MONGODB_ADMINUSERNAME=${MONGO_INITDB_ROOT_USERNAME}
ME_CONFIG_MONGODB_ADMINPASSWORD=${MONGO_INITDB_ROOT_PASSWORD}
ME_CONFIG_MONGODB_URL=mongodb://flux:changeme@mongodb:27017/?authSource=admin

# --- Flux Application environment variables ---
FLUX_MONGO=mongodb://flux:changeme@localhost:27017/?authSource=admin
FLUX_MONGO_DB=flux
